@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {

  .border-gradient {

    background: rgb(13,24,36);
    background: linear-gradient(30deg, rgb(6, 56, 110) 0%, rgb(25, 73, 207) 50%, rgb(236, 58, 99) 100%);

  }

  .linear-gradient {
    background: rgb(2,110,235);
background: linear-gradient(60deg, rgba(2,110,235,1) 0%, rgba(87,72,154,1) 59%, rgba(181,32,67,1) 100%);
  }

  .btn-gradient{
    background: rgb(246,60,2);
background: linear-gradient(90deg, rgba(246,60,2,1) 27%, rgba(155,32,32,1) 98%);
  }

}

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
} */

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */
/* 
body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
